<!-- app/views/dashboard/show.html.erb -->
<div class="mx-auto max-w-screen-xl px-4 md:px-40 space-y-6 bg-black/5 rounded-2xl">
  <!-- モーダル表示エリア -->
  <div id="modal_area"></div>
  <!-- キャラ育成エリア -->
  <div class="pt-3 pb-2">
  <div id="character_" class="relative w-full max-w-none md:max-w-[500px] mx-auto h-auto p-2 bg-gray-200 border-4 border-gray-800 shadow-[4px_4px_0_0_rgba(0,0,0,0.8)] rounded-lg">
    <% if @character&.dead? %>
      <!-- 死亡時専用ビュー -->
      <div class="bg-black w-full h-full flex flex-col items-center justify-center rounded-2xl p-8 text-center">
        <%= image_tag "death.png", alt: "十字架", width: 200, height: 200, class: "mx-auto mb-4" %>
        <p class="text-white text-xl font-bold">
          <%= @character.character_kind&.name %> は死亡しました。
        </p>

        <%= button_to "リセットする", reset_characters_path, method: :post, class: "mt-3 rounded-lg bg-pink-600 px-4 py-2 text-white hover:bg-pink-700" %>
      </div>
    <% else %>
      <!-- 通常時専用ビュー -->
      <%= image_tag "background.png", alt: "背景", class: "block w-full h-auto" %>

      <!-- キャラ + ステータス -->
      <div class="absolute bottom-0 left-0 flex items-center px-4 md:px-12 w-full">
        <!-- ペット画像とコメント -->
        <div id="character_image" class="mr-auto relative">
          <!-- ペットコメント吹き出し -->
          <div id="pet_comment_area" class="absolute bottom-full left-0 mb-1 max-w-xs z-20">
            <%= render "shared/pet_comment", message: flash[:pet_comment] %>
          </div>

          <% if @appearance.present? %>
            <%= image_tag @appearance.asset_path, alt: "ペット", class: "w-35 sm:w-50 md:w-64 h-auto block"  %>
          <% else %>
            <div class="text-gray-500">ペットがいません</div>
          <% end %>
        </div>

        <!-- ステータス -->
        <% if @character.present? %>
          <div class="min-w-0 w-35 md:w-1/2 max-h-45 md:max-h-72 overflow-auto  bg-white p-4 rounded-lg shadow">
            <%= render "characters/status", character: @character %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
  <%= render "dashboard/food_counter", user: current_user %>

  <!-- タスク一覧エリア -->
  <div class="pt-2 pb-6">
  <div class="grid md:grid-cols-2 gap-5 mb-5">
      <!-- TODO一覧 -->
    <section class="space-y-2">
      <div class="w-ful ">
        <h3 class="text-lg font-bold mb-2">TODO一覧</h3>
        <%= render "tasks/todolist", tasks: @todos, kind: :todo %>
      </div>
    </section>

    <!-- 習慣一覧 -->
    <section class="space-y-3">
      <div class="w-ful ">
        <h3 class="text-lg font-bold mb-2">習慣一覧</h3>
        <%= render "tasks/todolist", tasks: @habits, kind: :habit %>
      </div>
    </section>
  </div>
  </div>

</div>
